

.header-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 60px;
    position: fixed;
    box-shadow: 0px 1px 1px rgba(255,255, 255, 0.12);
    background-color: #121212;
    z-index: 9999;
    
}

.header-menu{
    padding-right: 24px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 2px;
    min-width: 300px;
    img{
        width: 30px;
        height: 30px;
        padding: 5px;
        background: white;
    }
}


.search-container{
    min-width: 200px;
    padding: 0 8px;
    width: 426px;
    position: relative;
    -webkit-app-region: no-drag;
    overflow: hidden;
}
.search{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, .12);
    border-radius: 92px;
    
    &-input{
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        border-right: 1px solid rgba(255, 255, 255, .12);
        caret-color: rgb(255, 59, 92);
        color: rgba(255, 255, 255, .9);
        padding: 0 16px;

        &::placeholder {
            color: #b1b1b1;
            opacity: 1; /* Firefox */
        }
    }
    &-btn{
        padding: 8px 16px 7px 12px;
        background: transparent;
        border: none;
        font-size: 18px;
        height: 100%;
        color: rgba(255, 255, 255, .9);
        border-radius: 0 20px 20px 0;
        
    }


    &:hover{
        border: 1px solid rgba(255, 255, 255, .12);
        .search-btn{
            background: rgba(255, 255, 255, 0.506);
        }
    }
    
}


.dropdown{
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 999;

     &:hover {
        .dropdown-content {
            z-index: 4;
            opacity: 1;
        }
     }

    
    &-avatar{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        
    }

    &-content{
        z-index: 0;
        opacity: 0;
        transition: opacity 1s;
        position: absolute;
        background: rgb(37, 37, 37);
        top: calc(100% + 18px);
        right: -12px;
        min-width: 233px;
        border-radius: 8px;
    }
}

.dropdown-list{
    padding: 12px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    
    &__item{
        padding: 7px 12px;
    }

    &__item--last{
        border-top: 1px solid rgba(255, 255, 255, .12);
        padding: 12px;
    }

    &__link{
        display: flex;
        position: relative;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        font-weight: bold;
        color: rgba(255, 255, 255, .9);
    }

    &__icon{
        font-size: 18px;
    }

    &__text{
        font-size: 14px;
        margin-top: -5px;
    }
}

.tool{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 15px;
 position: relative;
 height: 100%;
    &-down{
        width: 110px;
        height: 36px;
        border: 1px solid rgba(22, 24, 35, 0.12);
        padding: 0 16px;
        background: rgba(255, 255, 255, .12);
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        color: rgba(255, 255, 255, .9);
        font-weight: 600;

        &:hover{
             background: rgba(255, 255, 255, 0.068);
        }

        &__icon{
            font-size: 22px;
            position: relative;
            top: 2px;
            font-weight: bold;
        }
    }

    &-icon{
        font-size: 22px;
        color: rgba(255, 255, 255, .9);
        background: transparent;
        border: none;
        position: relative;

        &__sup{
            position: absolute;
            top: -10px;
            right: -5px;
            font-size: 12px;
            font-weight: bold;
            width: 20px;
            height: 20px;
            background: rgb(255, 59, 92);
            border-radius: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    &-icon__send{
        transform: rotate(-35deg);  
    }
}



.switch-mode{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
   margin-left: auto;
    input{
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider{
             background-color: #0bdd99;
        }
        &:focus + .slider{
            box-shadow: 0 0 1px #0bdd99;
        }

        &:checked + .slider:before{
            -webkit-transform: translateX(13px);
            -ms-transform: translateX(13px);
            transform: translateX(13px);
        }
    }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

